<!-- Header section -->
<header class="header-section">
	<div class="header-top">
		<div class="container">
			<div class="header-social">
				<a href="https://github.com/a3y3/Katalog" target="_blank"><i class="fa fa-github"></i></a>
				<a href="https://www.linkedin.com/in/soham-dongargaonkar/"target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="user-panel">
				{%if session['idinfo']%}
					<span>{{session['idinfo'].email}}</span>
					<div id="signout"><a href="#" onclick="signOut();">Sign out</a></div>
				{%else%}
					<div id="signin"><a href="{{url_for('login')}}">Sign In / Register</a></div>
				{%endif%}
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<a href="/" class="site-logo">
				<h2>Katalog</h2>
			</a>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<ul class="main-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/catalogs">Catalogs</a></li>
				<li><a href="/items">Items</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- Header section end -->

<!-- Flash messages begin -->
{%with flash_messages = get_flashed_messages()%}
{%if flash_messages%}
	<ul>
		{%for flash_message in flash_messages%}
			<li>
				<div class="alert alert-success" role="alert">
          <button class="close" data-dismiss="alert"></button>
          <strong>Notice: </strong>{{flash_message}}
        </div>
      </li>
		{%endfor%}
	</ul>
{%endif%}
{%endwith%}
<!-- Flash messages end -->

<script type="text/javascript">
	function signOut(){
		var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
		$.ajax({
            url: '/login',
            type: 'DELETE',
            dataType: 'JSON',
            success: function (data) {
                window.open("/", target="_self");
            },
            failure: function (data) {
                alert("Something went wrong" + data);
            }
        });
	}
</script>