<!-- Header section -->
<header class="header-section">
	<div class="header-top">
		<div class="container">
			<div class="header-social">
				<a href="https://github.com/a3y3/Katalog" target="_blank"><i class="fa fa-github"></i></a>
				<a href="https://www.linkedin.com/in/soham-dongargaonkar/"target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="user-panel">
				<div id="signin"><a href="{{url_for('login')}}">Sign In / Register</a></div>
				<div class="no-display" id="signout"><a href="#" onclick="signOut();">Sign out</a></div>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<a href="/" class="site-logo">
				<img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
			</a>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<ul class="main-menu">
				<li><a href="/">Home</a></li>
				<li><a href="/catalogs">Catalogs</a></li>
				<li><a href="/items">Items</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- Header section end -->

<script type="text/javascript">
	function onSignIn(googleUser) {
	  $('#signin').addClass('no-display');
	  $('#signout').removeClass('no-display')
	  var id_token = googleUser.getAuthResponse().id_token;
	  $.ajax({
            url: '/login',
            type: 'POST',
            data: {
                token: id_token,
                state: "{{STATE}}"
            },
            dataType: 'JSON',
            success: function (data) {
                location.reload();
            },
            failure: function (data) {
                alert("Something went wrong" + data);
            }
        });
	}

	function signOut(){
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
    	location.reload();
  	});
	}
</script>