<!-- Generic Items template! Use only for displaying many items at once. -->
<div class="row">
	{%for catalog, item, user in tuple%}
	<div class="col-lg-4">
		<div class="sp-blog-item small-card">
			<div class="blog-thubm">
				<div class="blog-date">
					<span>May 04, 2018</span>
				</div>
			</div>
			<div class="blog-text">
				<h5>{{item.name}}</h5>
				<span><a href="{{url_for('show_catalog', catalog_id=catalog.id)}}">{{catalog.name}}</a></span>
				<span>By {{user.email}}</span>
				<p class="items-ellipsis">{{item.description}}</p>
				<a href="{{url_for('show_item', item_id=item.id)}}" class="readmore" title="Click to go to item"><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
</div>
</section>