{%include 'html_start.html'%}
<!-- Footer widgets section -->
<section class="bottom-widgets-section spad">
	<div class="container">
		<h3>
		Create new item
		</h3>
		<div class="row">
			<div class="col-12">
				<div class="sp-blog-item">
					<div class="blog-text">
						<form action="{{url_for('items')}}" method="POST">

							<div class="form-group">
								<label for="name">Name</label>
								<input type="name" class="form-control" id="name" placeholder="Enter name of the item" name="name" autofocus="true">
							</div>

							<div class="form-group">
								<label for="description">Description</label>
								<textarea class="form-control" id="desc" placeholder="Enter description of the item" name="description"></textarea>
							</div>

							<div class="form-group">
								<label for="catalog_id">Catalog</label>
								<select class="form-control" id="select-catalog" name="catalog_id" aria-describedby="selectCatalogHelp">
									{%for catalog in catalogs%}
										<option value="{{catalog.id}}">{{catalog.name}}</option>
									{%endfor%}
								</select>
								<small id="selectCatalogHelp" class="form-text text-muted">Select the catalog to which this item belongs to.</small>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer widgets section end -->
{%include 'html_end.html'%}