{%include 'html_start.html'%}
<section class="bottom-widgets-section spad">
	<div class="container">
		<h3>
		Item
		</h3>

		{% if display_actions %}

			<h5>Actions: <a href="{{url_for('edit_item', item_id=item.id)}}" id="item-edit">Edit</a> | <a href="#" id="item-delete">Delete</a></h5>

		{% endif %}
		
		<div class="row">
			<div class="col-12">
				<div class="sp-blog-item">
					<div class="blog-thubm">
						<div class="blog-date">
							<span>May 04, 2018</span>
						</div>
					</div>
					<div class="blog-text">
						<h5>{{item.name}}</h5>
						<span><a href="{{url_for('id_catalog', catalog_id=catalog.id)}}">{{catalog.name}}</a></span>
						<span>By {{user.email}}</span>
						{% for para in description %}
							<p>{{para}}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%include 'html_end.html'%}
<script type="text/javascript">
	$(function () {
		$("#item-delete").on("click", function(){
			if (confirm("This action will permanantly delete this item. Are you absolutely sure?")) {
				$.ajax({
					url: '{{url_for("id_item", item_id=item.id)}}',
					type: 'DELETE',
					dataType: 'JSON',
					data: {
		        state: "{{state}}"
		      },
					success: function (data) {
						window.open("{{url_for('items')}}", target="_self");
					},
					failure: function (data) {
						alert("Something went wrong" + data);
					}
				});
			}
		});
	});
</script>