{%include 'html_start.html'%}
<section class="bottom-widgets-section spad">
	<div class="container">
		<h3>
		Item
		</h3>
		<div class="row">
			<div class="col-12">
				<div class="sp-blog-item">
					<div class="blog-thubm">
						<div class="blog-date">
							<span>May 04, 2018</span>
						</div>
					</div>
					<div class="blog-text">
						<h5>{{item.name}}</h5>
						<span>By {{user.email}}</span>
						<p>{{item.description}}</p>
						<a href="{{url_for('show_item', item_id=item.id)}}" class="readmore"><i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%include 'html_end.html'%}