{%include 'html_start.html'%}
<section class="bottom-widgets-section spad">
	<div class="container">
		<h3>
		Item
		</h3>
		<h5>Actions: <a href="{{url_for('edit_item', item_id=item.id)}}" id="item-edit">Edit</a> | <a href="#" id="item-delete">Delete</a></h5>
		<div class="row">
			<div class="col-12">
				<div class="sp-blog-item">
					<div class="blog-thubm">
						<div class="blog-date">
							<span>May 04, 2018</span>
						</div>
					</div>
					<div class="blog-text">
						<h5>{{item.name}}</h5>
						<span><a href="{{url_for('id_catalog', catalog_id=catalog.id)}}">{{catalog.name}}</a></span>
						<span>By {{user.email}}</span>
						<p>{{item.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{%include 'html_end.html'%}