{%include 'html_start.html'%}
<section class="bottom-widgets-section spad">
	<div class="container">
		<h3>
		Edit catalog
		</h3>
		{%include 'catalogs/actions_catalogs.html'%}
	</div>
</section>
{%include 'html_end.html'%}
<script type="text/javascript">
	$(function (argument) {
		$("#btn-submit-edit").on("click", function(e){
			name = $("#name").val();
			$.ajax({
					url: '{{url_for("id_catalog", catalog_id=catalog.id)}}',
					type: 'PUT',
					dataType: 'JSON',
					data: {
              name: name,
              state: "{{state}}"
          },
					success: function (data) {
						window.open("{{url_for("id_catalog", catalog_id=catalog.id)}}", target="_self");
					},
					failure: function (data) {
						alert("Something went wrong" + data);
					}
				});
			return false;
		});
	});
</script>