.logout{
	display: none;
}

.btn-primary{
	background-color: #ff2a6b;
	border-color: #ff2a6b;
}

.btn-primary:hover{
	background-color: #ff2a6b;
	border-color: #ff2a6b;
}

.no-display{
	display: none;
}

.center{
	margin: auto;
  width: 50%;
}

.blog-date{
	z-index: 5;
	display: none;
}

.items-ellipsis{
	height: 29px;
	width: 100%;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}